.qubely-postgrid-is-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
//list view
.qubely-post-list-wrapper {
  display: block;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .qubely-post-list-img {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    overflow: hidden;
  }
  .qubely-post-list-content {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 20px;
  }
}
@media screen and (min-width: 767px) {
  .qubely-post-list-wrapper {
    display: -ms-flexbox;
    display: flex;
    .qubely-post-list-img {
      -ms-flex: 0 0 40%;
      flex: 0 0 40%;
      max-width: 40%;
    }
    .qubely-post-list-img + .qubely-post-list-content {
      -ms-flex: 0 0 60%;
      flex: 0 0 60%;
      max-width: 60%;
    }
  }
}

.qubely-postgrid {
  position: relative;
  img {
    display: block;
  }
  .qubely-postgrid-title {
    margin: 0 !important;
    line-height: 1;
    a {
      text-decoration: none !important;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .qubely-postgrid-intro,
  .qubely-postgrid-intro p {
    font-size: 15px;
    line-height: 24px;
    margin: 0;
  }
  .qubely-postgrid-meta {
    font-size: 14px;
    line-height: 22px;
  }
  .qubely-postgrid-btn {
    display: inline-block;
    text-decoration: none !important;
    &:hover {
      text-decoration: none !important;
    }
  }
  .qubely-button-fill {
    &.is-small {
      padding: 5px 10px;
      font-size: 14px;
    }
    &.is-medium {
      padding: 8px 15px;
      font-size: 16px;
    }
    &.is-large {
      padding: 13px 20px;
      font-size: 18px;
    }
  }
}
//title default value

//category above image
.qubely-post-img {
  position: relative;
  overflow: hidden;
  .qubely-postgrid-cat-position {
    position: absolute;
    &.qubely-postgrid-cat-position-leftTop {
      top: 20px;
      left: 20px;
    }
    &.qubely-postgrid-cat-position-rightTop {
      top: 20px;
      right: 20px;
    }
    &.qubely-postgrid-cat-position-leftBottom {
      bottom: 20px;
      left: 20px;
    }
    &.qubely-postgrid-cat-position-rightBottom {
      bottom: 20px;
      right: 20px;
    }
  }
}

//category
.qubely-postgrid-category {
  a {
    transition: 400ms !important;
    text-decoration: none !important;
    &:hover {
      text-decoration: none !important;
    }
  }
}
.qubely-postgrid-category.qubely-backend {
  a {
    pointer-events: none;
    cursor: default;
  }
}

//meta
.qubely-postgrid-meta {
  span {
    padding-left: 12px;
    position: relative;
    padding-right: 12px;
    i {
        font-style: normal;
        margin-right: 3px;
    }
    &:before {
      position: absolute;
      content: "";
      background: #d8d8d8;
      left: -1px;
      top: 50%;
      width: 2px;
      height: 2px;
      border-radius: 20px;
      margin-top: -1px;
    }
    &:first-child {
      padding-left: 0;
      &:before {
        display: none;
      }
    }
  }
  a {
    text-decoration: none !important;
    &:hover {
      text-decoration: none !important;
    }
  }
}

//content position
.qubely-post-list-center {
  &.qubely-post-list-wrapper {
    align-items: center;
  }
}
.qubely-post-list-top {
  &.qubely-post-list-wrapper {
    align-items: flex-start;
  }
}
.qubely-post-list-bottom {
  &.qubely-post-list-wrapper {
    align-items: flex-end;
  }
}

//style 3
.qubely-post-list-view {
  &.qubely-postgrid-style-3 {
    .qubely-post-list-wrapper {
      .qubely-post-list-content {
        background: #fff;
        padding: 20px;
        position: relative;
        z-index: 1;
      }
      .qubely-post-list-img + .qubely-post-list-content {
        margin-left: -40px;
      }
    }
  }
}

.qubely-post-grid-view {
  &.qubely-postgrid-style-3 {
    .qubely-post-grid-content {
      background: #fff;
      position: relative;
      z-index: 1;
      padding: 20px;
    }
    .qubely-post-grid-img + .qubely-post-grid-content {
      margin: -80px auto 0;
      width: 90%;
    }
    .qubely-post-grid-left {
      .qubely-post-grid-content {
        float: left;
      }
    }
    .qubely-post-grid-right {
      .qubely-post-grid-content {
        float: right;
      }
    }
  }
}

//layout 4
.qubely-postgrid-layout-4 {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr;
  .qubely-post-4-wrap {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 0.5fr 1fr;
  }
  .qubely-postgrid:nth-child(1) {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 6;
    .qubely-post-4-wrap {
      grid-template-columns: 1fr;
    }
  }
}
@media (min-width: 767px) {
  .qubely-postgrid-layout-4 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 992px) {
  .qubely-post-list-center.qubely-post-list-wrapper {
    align-items: flex-start;
  }
  .qubely-post-list-view.qubely-postgrid-style-3
    .qubely-post-list-wrapper
    .qubely-post-list-img
    + .qubely-post-list-content {
    margin-left: 0;
  }
}

//column
.qubely-postgrid-column {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.qubely-postgrid-column-xs1 {
  grid-template-columns: 1fr;
  &.qubely-postgrid-layout-5 {
    column-count: 1;
  }
}
.qubely-postgrid-column-xs2 {
  grid-template-columns: 1fr 1fr;
  &.qubely-postgrid-layout-5 {
    column-count: 2;
  }
}
.qubely-postgrid-column-xs3 {
  grid-template-columns: 1fr 1fr 1fr;
  &.qubely-postgrid-layout-5 {
    column-count: 3;
  }
}
@media (min-width: 767px) {
  .qubely-postgrid-column-sm1 {
    grid-template-columns: 1fr;
    &.qubely-postgrid-layout-5 {
      column-count: 1;
    }
  }
  .qubely-postgrid-column-sm2 {
    grid-template-columns: 1fr 1fr;
    &.qubely-postgrid-layout-5 {
      column-count: 2;
    }
  }
  .qubely-postgrid-column-sm3 {
    grid-template-columns: 1fr 1fr 1fr;
    &.qubely-postgrid-layout-5 {
      column-count: 3;
    }
  }
}
@media (min-width: 992px) {
  .qubely-postgrid-column-md1 {
    grid-template-columns: 1fr;
    &.qubely-postgrid-layout-5 {
      column-count: 1;
    }
  }
  .qubely-postgrid-column-md2 {
    grid-template-columns: 1fr 1fr;
    &.qubely-postgrid-layout-5 {
      column-count: 2;
    }
  }
  .qubely-postgrid-column-md3 {
    grid-template-columns: 1fr 1fr 1fr;
    &.qubely-postgrid-layout-5 {
      column-count: 3;
    }
  }
  .qubely-postgrid-column-md4 {
    grid-template-columns: 1fr 1fr 1fr;
    &.qubely-postgrid-layout-5 {
      column-count: 3;
    }
  }
  .qubely-postgrid-column-md5 {
    grid-template-columns: 1fr 1fr 1fr;
    &.qubely-postgrid-layout-5 {
      column-count: 3;
    }
  }
  .qubely-postgrid-column-md6 {
    grid-template-columns: 1fr 1fr 1fr;
    &.qubely-postgrid-layout-5 {
      column-count: 3;
    }
  }
}

@media (min-width: 1299px) {
  .qubely-postgrid-column-md4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    &.qubely-postgrid-layout-5 {
      column-count: 4;
    }
  }
  .qubely-postgrid-column-md5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    &.qubely-postgrid-layout-5 {
      column-count: 5;
    }
  }
  .qubely-postgrid-column-md6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    &.qubely-postgrid-layout-5 {
      column-count: 6;
    }
  }
}
