.qubely-block-tab {
	.qubely-tab-nav {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		
		.qubely-tab-item {
			display: block;
			text-align: center;
			position: relative;
			
			.qubely-tab-title {
				cursor: pointer;
				display: block;
				display: flex;
				align-items: center;
				transition: color 400ms, background-color 400ms, border-color 400ms;
				position: relative;
				justify-content: center;
				&.qubely-has-icon-top {
					flex-direction: column;
				}
			}

			&:hover {
				.qubely-action-tab-remove {
					display: block;
				}
			}
		}

		&.qubely-alignment-left {
			justify-content: flex-start;
		}

		&.qubely-alignment-center {
			justify-content: center;
		}

		&.qubely-alignment-right {
			justify-content: flex-end;
		}

		&.qubely-alignment-justify {
			.qubely-tab-item {
				-ms-flex: 1 1 auto;
				flex: 1 1 auto;
			}
		}

		.qubely-action-tab-remove {
			display: none;
			font-size: 12px;
			width: 18px;
			height: 18px;
			line-height: 20px;
			text-align: center;
			background: rgba(0, 0, 0, .8);
			color: #fff;
			position: absolute;
			top: -9px;
			right: -9px;
			border-radius: 10px;
			z-index: 1;
			cursor: pointer;
		}
	}

	&.qubely-tab-style-tabs {
		.qubely-tab-nav {
			.qubely-tab-item.qubely-active {
				.qubely-tab-title {
					&:after {
						content: " ";
						position: absolute;
						left: 0;
						width: 100%;
						transition: color 400ms, background-color 400ms, border-color 400ms;
					}
				}
			}
		}
	}

	.qubely-add-new-tab {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		margin-left: 10px;
		padding: 0px 15px;
		border-radius: 3px;
		color: #666;
		transition: color 300ms;
		&:hover {
			color: #0085ba;
			border-color: #0085ba;
		}
	}
	.wp-block-qubely-tab.qubely-tab-content {	
		position: absolute;
		visibility: hidden;
		opacity: 0;
		transition: opacity 400ms ease-in;
	   &.qubely-active {	
			position: static;
			visibility: visible;
			opacity: 1;
	   }
   }
	&.qubely-tab-style-pills,&.qubely-tab-style-tabs{
		.qubely-tab-item {
			margin-bottom: 10px;
		}
	}
}
.wp-block.qubely-tab-content {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	&.qubely-active {
		position: relative;
		opacity: 1;
		visibility: visible;
		transition: opacity 400ms;
	}
}
