.qubely-block-table-of-contents {
  .qubely-table-of-contents{
    overflow: hidden;
  }
  // toc header

  .qubely-table-of-contents-header{
    display: flex;
    align-items: center;
    &.qubely-justify-start{
      justify-content: flex-start;
    }
    &.qubely-justify-between{
      justify-content: space-between;
    }
    &.qubely-justify-around{
      justify-content: space-around;
    }
    &.qubely-justify-end{
      justify-content: flex-end;
    }
    .qubely-table-of-contents-toggle{
      box-sizing: border-box;
      margin-left: 5px;
    }
  }


  &.qubely-align-left {
    text-align: left;
  }
  &.qubely-align-center {
    text-align: center;
  }
  &.qubely-align-right {
    text-align: right;
  }

  .ordered-list,
  .unordered-list {
    text-align: left;
  }
  ul.child-list {
    padding-left: 1.5em;
    list-style-type: circle;
  }

  ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
    > li {
      display: table;
      counter-increment: item;
      &:before {
        content: counters(item, ".") ". ";
        display: table-cell;
        padding-right: 0.6em;
      }
    }
    li ol > li {
      margin: 0;
      &:before {
        content: counters(item, ".") " ";
      }
    }
  }

}
