.qubely-block-carousel{
	.qubely-carousel-body{
		display: flex;
		align-items: center;
		justify-content: space-between;
		.qubely-carousel-item {
			display: none;
			&.qubely-active {
				display: block;
			}
	}
}
.qubely-action-remove-carousel-item {
	display: flex;
	justify-content: flex-end;
}
.qubely-carousel-nav-wraper{
	display: flex;
    align-items: center;
	justify-content: center;
	.qubely-carousel-title{
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
}

