.qubely-block-animated-heading {
  .animated-heading-text {
    &.has-text-align-left{
      justify-content: flex-start;
    }
    &.has-text-align-right{
      justify-content: flex-end
    }
    &.has-text-align-center{
      justify-content: center;
    }
    &::before {
      display: none;
    }
    display: flex;
    flex-wrap: wrap;
    .editor-rich-text {
      padding: 0 8px;
    }
    .animated-heading-after-part {
      padding-left: 8px;
    }
    .animated-heading-before-part {
      padding-right: 8px;
    }
    .qubely-animated-text{
      padding-left: 5px;
    }
  }
}
