.editor-rich-text__inline-toolbar {
	z-index: 6;
}
.qubely-divider-block {
	display: inline-block;
	position: relative;
	width: 100%;
	&:before {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background: #e5e5e5;
		top: 50%;
	}
	.qubely-divider-withicon {
		position: relative;
		.qubely-divider-icon {
			position: absolute;
			i {
				font-style: normal;
				color: #fff;
				width: 27px;
				height: 27px;
				border-radius: 100%;
				text-align: center;
				vertical-align: middle;
				line-height: 27px;
				font-size: 14px;
			}
		}
	}
	.qubely-divider-withimg {
		position: relative;
		.qubely-divider-img {
			vertical-align: middle;
			position: absolute;
			border-radius: 100%;
			width: 30px;
			height: 30px;
		}
	}
	.qubely-divider-withtext {
		position: relative;
		.qubely-divider-text {
			text-transform: uppercase;
			background: #fff;
			padding: 0 10px;
			position: absolute;
		}
	}
	.qubely-divider-center {
		.qubely-divider-text,
		.qubely-divider-img,
		.qubely-divider-icon {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.qubely-divider-left {
		.qubely-divider-text,
		.qubely-divider-img,
		.qubely-divider-icon {
			left: 20px;
			top: 50%;
			transform: translate(0, -50%);
		}
	}
	.qubely-divider-right {
		.qubely-divider-text,
		.qubely-divider-img,
		.qubely-divider-icon {
			right: 20px;
			top: 50%;
			transform: translate(0, -50%);
		}
	}
}
