// image comparison css
.qubely-block-image-comparison {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    //min-height: 350px;
    //align-items: center;
    .image-container {
        position: relative;
        &.valid-images {
            display: inline-block;
        }

        .qubely-media-actions {
            top: 10px;
            right: 10px;
            position: absolute;
            display: inline-flex;
            vertical-align: middle;
            .qubely-button {
                &:not(:last-child) {
                    margin-right: 5px;
                }
            }
        }

        .comparison-image-text {
            position: absolute;
            opacity: 1;
            color: #fff;
            bottom: 15px;
            left: 25px;
            font-size: 20px;
            user-select: none;
        }

        img{
            display: block;
            width: 100%;
            user-select: none;
        }

        &.image-A {
            &.valid-images {
                width: 100%;
            }
            .comparison-image-text{
                left: auto;
                right: 25px;
            }
        }
        &.image-B {
            .qubely-media-actions{
                right: auto;
                left: 10px;
            }
            &.resizable-img {
                z-index: 1;
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: 100%;
                overflow: hidden;
                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: auto;
                    max-width: none;
                }
            }
        }

    }
    &.has-child-placeholder .image-container{
        max-width: 50%;
        flex-basis: 50%;
        flex-grow: 1;
        margin: 0 5px;
        img{
            min-height: 100%;
            object-fit: cover;

        }
        .components-placeholder__instructions{
            display: block;
        }
        .image-container-inner{
            height: 100%;
        }
    }
    .comparison-scrollCircle {
        position: absolute;
        height: 40px;
        width: 40px;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        cursor: move;
        background: #dc717d no-repeat center center;
        transform: translate(-50%, -50%);
        z-index: 9;
    }
}
