.qubely-block-btn-anchor {
	display: inline-flex;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	color: #212529;
	text-align: center;
	// -webkit-user-select: none;
	// -moz-user-select: none;
	// -ms-user-select: none;
	// user-select: none;
	text-decoration: none !important;
	background-color: transparent;
	position: relative;
	z-index: 1;
	overflow: hidden;
	transition: color 200ms ease-in-out, background-color 200ms ease-in-out, border-color 200ms ease-in-out,
		box-shadow 200ms ease-in-out;
	&.is-small {
		padding: 5px 10px;
		font-size: 14px;
	}
	&.is-medium {
		padding: 8px 15px;
		font-size: 16px;
	}
	&.is-large {
		padding: 13px 20px;
		font-size: 18px;
	}
	.editor-rich-text {
		cursor: text;
		.editor-rich-text__tinymce {
			line-height: 1.3 !important;
		}
	}

	&:before {
		content: " ";
		position: absolute;
		left: 0px;
		top: 0px;
		right: 0;
		bottom: 0;
		z-index: -2;
		opacity: 0;
		transition: all 300ms ease-in-out;
	}

	&:hover:before {
		opacity: 1;
	}
}
.qubely-action-button-remove {
	// display: none;
	font-size: 12px;
	width: 18px;
	height: 18px;
	line-height: 20px;
	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	position: absolute;
	top: -9px;
	right: -9px;
	border-radius: 10px;
	z-index: 1;
	cursor: pointer;
}
.qubely-button-text {
	white-space: nowrap !important;
}
