.qubely-block-testimonial-carousel {
  transition: all 400ms;
  // Editor line height hack
  .editor-rich-text {
    .editor-rich-text__tinymce {
      line-height: inherit;
    }
  }

  .qubely-testimonial-quote {
    .qubely-quote-icon {
      line-height: 1;
      width: auto;
      height: auto;
    }

    &.qubely-position-bottom {
      .qubely-quote-icon {
        transform: scaleY(-1);
      }
    }
  }

  .qubely-testimonial-avatar {
    &.qubely-image-placeholder i {
      font-size: 0.5em;
    }
  }

  .qubely-testimonial-avatar-layout-left,
  .qubely-testimonial-avatar-layout-right {
    display: inline-flex;
    align-items: center;
    .qubely-testimonial-author-info {
      text-align: left;
    }
  }

  .qubely-testimonial-avatar-layout-right {
    .qubely-testimonial-author-info {
      text-align: right;
    }
  }

  //rating
  .qubely-testimonial-ratings {
    unicode-bidi: bidi-override;
    display: inline-block;
    position: relative;
    letter-spacing: 5px;
    &:before,
    &:after {
      content: "\f005\f005\f005\f005\f005";
      font-family: "Font Awesome\ 5 Free";
      font-weight: 400;
      display: block;
      white-space: nowrap;
    }

    &:before {
      position: absolute;
      z-index: 1;
      left: 0px;
      overflow: hidden;
      font-family: "Font Awesome\ 5 Free";
      font-weight: 900;
      content: "\f005\f005\f005\f005\f005";
    }
    &:after {
      z-index: 0;
    }
    &[data-qubelyrating="1"]:before {
      width: 20%;
    }
    &[data-qubelyrating="1.5"]:before {
      width: 29%;
    }
    &[data-qubelyrating="2"]:before {
      width: 40%;
    }
    &[data-qubelyrating="2.5"]:before {
      width: 49%;
    }
    &[data-qubelyrating="3"]:before {
      width: 60%;
    }
    &[data-qubelyrating="3.5"]:before {
      width: 69%;
    }
    &[data-qubelyrating="4"]:before {
      width: 80%;
    }
    &[data-qubelyrating="4.5"]:before {
      width: 89%;
    }
    &[data-qubelyrating="5"]:before {
      width: 100%;
    }
  }
  .qubely-testimonial-carousel-arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #d6d9dd;
  }
}

.qubely-testimonial-carousel-content-wrapper {
  position: relative;
}
.layout-3 .qubely-testimonial-carousel-content-wrapper {
  padding: 20px;
  border-radius: 10px;
  background: #f4f4f4;
}
.layout-3 .qubely-testimonial-carousel-content-wrapper:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  transform: translate(-50%, 50%);
  border-width: 15px;
  z-index: 1;
  border-color: #f4f4f4 transparent transparent transparent;
  left: 50%;
  bottom: -15px;
}
.layout-3 .qubely-testimonial-author {
  margin-top: 40px;
  text-align: center;
}
.layout-3 .qubely-testimonial-avatar {
  margin-right: 0px;
}
.layout-3 .qubely-testimonial-avatar-layout-left .qubely-testimonial-author-info {
  text-align: center;
}
.layout-1 .qubely-testimonial-avatar,
.layout-2 .qubely-testimonial-avatar {
  margin-right: 20px;
}

//slider css
.qubely-carousel.qubely-carousel-wrapper {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}
.qubely-carousel.qubely-carousel-wrapper .qubely-carousel-extended-list,
.qubely-carousel-extended-outer-stage {
  position: relative;
  overflow: hidden;
}
.qubely-carousel-extended-outer-stage {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
}
.qubely-carousel.qubely-carousel-wrapper .js-indicator {
  position: absolute;
  z-index: 9;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition-property: transform, -webkit-transform, width;
  -webkit-transition-property: transform, -webkit-transform, width;
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
}
.qubely-carousel.qubely-carousel-wrapper .qubely-carousel-item {
  position: relative;
  float: left;
  overflow: hidden;
}
.qubely-carousel.qubely-carousel-wrapper .qubely-carousel-item.active,
.qubely-carousel.qubely-carousel-wrapper .qubely-carousel-item.dragenable {
  visibility: visible;
  transform-style: preserve-3d;
}
.qubely-carousel.qubely-carousel-wrapper .qubely-carousel-item.prev-item {
  z-index: 1;
  visibility: visible;
}
.qubely-carousel.qubely-carousel-wrapper .qubely-carousel-dots,
.qubely-carousel.qubely-carousel-wrapper .qubely-carousel-nav-control {
  height: 50px;
  width: 100%;
  margin-top: 5px;
  z-index: 3;
}
.qubely-carousel.qubely-carousel-wrapper .qubely-carousel-dots {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.qubely-carousel.qubely-carousel-wrapper .qubely-carousel-nav-control .nav-control {
  display: inline-block;
  height: 40px;
  width: 40px;
  padding: 10px;
  border: 1px solid #ababab;
  position: absolute;
  cursor: pointer;
  text-align: center;
  bottom: 49%;
  background: rgba(255, 255, 255, 0.4);
}
.qubely-carousel.qubely-carousel-wrapper .qubely-carousel-nav-control .next-control.nav-control.buttom,
.qubely-carousel.qubely-carousel-wrapper .qubely-carousel-nav-control .prev-control.nav-control.buttom {
  bottom: 0;
}
.qubely-carousel.qubely-carousel-wrapper .qubely-carousel-nav-control .nav-control.next-control {
  right: 0;
}
.qubely-carousel.qubely-carousel-wrapper .qubely-carousel-nav-control .nav-control.prev-control {
  left: 0;
}
.qubely-carousel.qubely-carousel-wrapper .qubely-carousel-dots ul {
  margin: 15px;
  padding: 0;
  list-style: none;
  text-align: center;
}
.qubely-carousel.qubely-carousel-wrapper .qubely-carousel-dots ul li {
  display: inline-block;
  height: 4px;
  width: 30px;
  margin: 5px;
  border: 0;
  background: #f4f4f4;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}
.qubely-carousel.qubely-carousel-wrapper .qubely-carousel-dots ul li.active {
  width: 55px;
}
.qubely-carousel.qubely-carousel-wrapper .qubely-carousel-dots ul li .dot-indicator {
  position: absolute;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition-property: transform, -webkit-transform, width;
  -webkit-transition-property: transform, -webkit-transform, width;
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  width: 0;
  left: 0;
  top: 0;
  height: 4px;
  border-radius: 2px;
}
.qubely-carousel.qubely-carousel-wrapper .qubely-carousel-dots ul li .dot-indicator.active {
  background: #2084f9;
  width: 100%;
  top: 0;
  border-radius: 2px;
}

.qubely-tesitmonial-item.layout-3 .qubely-testimonial-avatar {
  margin-right: 0;
}
.qubely-testimonial-carousel-content-wrapper {
  position: relative;
}
.qubely-carousel {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.qubely-carousel .qubely-carousel-extended-list {
  position: relative;
  overflow: hidden;
}
.qubely-carousel-extended-outer-stage {
  position: relative;
  overflow: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  display: flex;
}

.qubely-carousel .js-indicator {
  position: absolute;
  z-index: 9;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition-property: transform, -webkit-transform, width;
  -webkit-transition-property: transform, -webkit-transform, width;
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
}

.qubely-carousel .qubely-carousel-extended-item {
  position: relative;
  float: left;
  /* overflow: hidden; */
}

.qubely-carousel .qubely-carousel-extended-item.active,
.qubely-carousel .qubely-carousel-extended-item.dragenable {
  visibility: visible;
  transform-style: preserve-3d;
}

.qubely-carousel .qubely-carousel-extended-item.prev-item {
  z-index: 1;
  visibility: visible;
}

.qubely-carousel .qubely-carousel-extended-nav-control,
.qubely-carousel .qubely-carousel-extended-dots {
  position: relative;
  height: 20px;
  width: 100%;
  margin-top: 5px;
  z-index: 3;
}
.qubely-carousel .qubely-carousel-extended-nav-control .nav-control {
  display: inline-block;
  height: 40px;
  width: 40px;
  padding: 10px;
  border: 1px solid #ababab;
  position: absolute;
  cursor: pointer;
  text-align: center;
  bottom: 100px;
  background: rgba(255, 255, 255, 0.4);
}
.qubely-carousel .qubely-carousel-extended-nav-control .nav-control.next-control {
  right: 0;
}
.qubely-carousel .qubely-carousel-extended-nav-control .nav-control.prev-control {
  left: 0;
}
.qubely-carousel .qubely-carousel-extended-dots {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.qubely-carousel .qubely-carousel-extended-dots ul {
  margin: -4px;
  padding: 0;
  list-style: none;
  text-align: center;
}
.qubely-carousel .qubely-carousel-extended-dots ul li {
  display: inline-block;
  height: 4px;
  width: 30px;
  margin: 5px;
  border: 0;
  background: rgba(218, 92, 92, 0.4);
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}
.qubely-carousel .qubely-carousel-extended-dots ul li.active {
  width: 80px;
}
.qubely-carousel .qubely-carousel-extended-dots ul li .qubely-carousel-extended-dot-indicator {
  position: absolute;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition-property: transform, -webkit-transform, width;
  -webkit-transition-property: transform, -webkit-transform, width;
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  width: 0;
  left: 0;
  top: 0;
  height: 4px;
  border-radius: 2px;
}

.qubely-carousel .qubely-carousel-extended-dots ul li .qubely-carousel-extended-dot-indicator.active {
  background: #ffffff;
  width: 100%;
  top: 0;
  border-radius: 2px;
}

.qubely-carousel.qubely-carousel-wrapper.is-faded{
  .qubely-carousel-extended-list .qubely-carousel-extended-outer-stage{
    .qubely-carousel-extended-item:not(.active){
      filter: blur(4px);
    }
  }
}

