.qubely-field-color.qubely-field {
  display: flex;
  &.qubley-half {
    display: inline-flex;
    width: 50%;
    align-items: center;

    &.qubley-half-first {
      padding-right: 7.5px;
    }

    &.qubley-half-last {
      padding-left: 7.5px;
    }
  }

  .qubely-field-child {
    .qubely-panel {
      height: 32px;
      width: 32px;
      border-radius: 0 3px 3px 0;
      display: inline-block;
      vertical-align: middle;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
      transition: 300ms;
      cursor: pointer;
      &.qubely-color-preview {
        width: 100%;
        height: 60px;
        border-radius: 3px;
        &:hover {
          transform: none;
        }
      }
      &:hover {
        transform: scale(1.1);
      }
      .qubely-gradient {
        padding: 15px;
      }
    }
  }

  &.qubely-has-preview {
    display: block;
    > label {
      width: 100%;
    }
    .qubely-field-child {
      width: 100%;
    }
  }

  &.qubely-no-preview {
    .qubely-field-child {
      flex-grow: 1;
      width: 32px;
    }
    > label {
      flex-grow: 1;
      width: calc(100% - 32px);
      margin: 0;
      height: 32px;
      line-height: 32px;
      padding-left: 10px;
      border: 1px solid #e4e4e4;
      border-radius: 3px 0 0 3px;
    }
  }
}

.qubely-rgba-palette {
  padding: 0px 0px 15px 15px;
  margin-top: -10px;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
  button {
    position: relative;
    font-size: 0;
    height: 28px;
    width: 28px;
    padding: 0;
    margin-right: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 50%;
    float: left;
    cursor: pointer;
    transition: 300ms;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 17px;
    background: transparent;
    &.active {
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 4px;
    }
    &:hover,
    &:focus {
      transform: scale(1.1);
    }

    &.clear {
      box-shadow: none;
      &::before {
        content: "\f05e";
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 28px;
        color: red;
        left: 0;
        top: 0;
        position: absolute;
      }
    }
  }
  > div {
    display: inline-block;
    button {
      overflow: hidden;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
      &::before {
        content: "";
        filter: blur(6px) saturate(0.7) brightness(1.1);
        display: block;
        width: 200%;
        height: 200%;
        position: absolute;
        top: -50%;
        left: -50%;
        padding-top: 100%;
        transform: scale(1);
        background-image: linear-gradient(330deg, transparent 50%, #ff8100 0),
          linear-gradient(300deg, transparent 50%, #ff5800 0), linear-gradient(270deg, transparent 50%, #c92323 0),
          linear-gradient(240deg, transparent 50%, #cc42a2 0), linear-gradient(210deg, transparent 50%, #9f49ac 0),
          linear-gradient(180deg, transparent 50%, #306cd3 0), linear-gradient(150deg, transparent 50%, #179067 0),
          linear-gradient(120deg, transparent 50%, #0eb5d6 0), linear-gradient(90deg, transparent 50%, #50b517 0),
          linear-gradient(60deg, transparent 50%, #ede604 0), linear-gradient(30deg, transparent 50%, #fc0 0),
          linear-gradient(0deg, transparent 50%, #feac00 0);
        background-clip: content-box, content-box, content-box, content-box, content-box, content-box, padding-box,
          padding-box, padding-box, padding-box, padding-box, padding-box;
      }
    }
  }
}

// Color Picker
.qubely-color-picker-container,
.qubely-color-picker {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}
.qubely-color-picker-container {
  width: 32px;
  height: 32px;
  background-image: linear-gradient(45deg, #ddd 25%, transparent 0), linear-gradient(-45deg, #ddd 25%, transparent 0),
    linear-gradient(45deg, transparent 75%, #ddd 0), linear-gradient(-45deg, transparent 75%, #ddd 0);
  background-size: 10px 10px;
  background-position: 0 0, 0 5px, 5px -5px, -5px 0;
  border: 1px solid #e9e9e9;
}
