
.qubely-element-popup-calendar {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #e2e4e7;
  width: 100%;
  left: 0;
  position: absolute;
  z-index: 2;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.1);

}
.calender-header{
  position: relative;
  display: block;
  .date-time{
    box-sizing: border-box;
    border: 1px solid #CECECE;
    background: #fff;
    color: #53595F;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    display: block;
    margin: 0;
    line-height: 31px;
    padding: 0 35px 0 0;
    text-indent: 15px;
    + span{
      position: absolute;
      right: 12.5px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 15px;
    }
  }
}

.qubely-element-form-calendar > span:hover{
  cursor: pointer;
}

.qubely-calender-title{
  padding-bottom: 7px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;

}
.qubely-calender-title > span{
  text-align: center;
  display: inline-block;
  font-weight: 600;
  padding: 0 5px;
  transition: 300ms;
}

.qubely-calender-title > span:last-child,
.qubely-calender-title > span:first-child{
  flex-grow: 1;
}

.qubely-calender-title > span:hover{
  color: #007cba
}

.qubely-calender-title > span:last-child{
  text-align: right;
}
.qubely-calender-title > span:first-child{
  text-align: left;
}
.qubely-calendar-year > span,
.qubely-calendar-month > span,
.qubely-days-name > span,
.qubely-days-date > span{
  display: inline-block;
  width: 14.28%;
}
.qubely-calendar-year > span,
.qubely-calendar-month > span,
.qubely-days-date > span{
  text-align: center;
  padding: 4px 0;
}
.qubely-days-date > span.active{
  background-color: #09e16d;
}
.qubely-days-date > span > span.active{
  background-color: #00e16c;
  border-radius: 3px;
  padding: 1px 5px;
  color: #000;
}
.qubely-calendar-hour,
.qubely-calendar-minute,
.qubely-calendar-second{
  display: inline-block;
  margin-right: 5px;
}
.qubely-days-name {
  padding: 8px 0 7px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.qubely-calender-title > span:hover,
.qubely-calendar-year > span:hover,
.qubely-calendar-month > span:hover,
.qubely-days-name > span:hover,
.qubely-days-date > span:hover{
  cursor: pointer;
}
.qubely-calender-title > span.disable:hover{
  cursor: no-drop;
}