.qubely-field-dimension{
    label{
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
    .qubely-dimension-inner{
        .qubely-dimension-input-group {
            overflow: hidden;
            > span{
                float: left;
                width: 25%;
                input{
                    max-width: 100%;
                    padding: 0;
                    margin: 0;
                }
                &:not(:last-child) input{
                    border-radius: 0;
                    border-right: none;
                }
                input + span{
                    font-size: 9px;
                }
                &:first-child input{
                    border-radius: 4px 0 0 4px;
                }
                &:last-child input{
                    border-radius: 0 4px 4px 0;
                }
            }
            > button{
                width: 20%;
                line-height: 16px;
            }
            &.hasLock > span{
                width: 20%;
            }
        }
    }
}