.qubely-field-dimension{
    .qubely-dimension-input-group {
        overflow: hidden;
        > span{
            float: left;
            width: 20%;
            input{
                text-align: center;
                max-width: 100%;
                border: 1px solid #E5E7EA !important;
            }
            &:not(:last-child) input{
                border-radius: 0;
                border-right: 0 !important;
            }
            input + span{
                display: block;
                font-size: 10px;
                text-transform: capitalize;
                text-align: center;
            }
            &:first-child input{
                border-radius: 4px 0 0 4px;
            }
        }
        > button{
            width: 20%;
            justify-content: center;
            border-radius: 0 4px 4px 0;
        }
    }
}