.qubely-field-tabs {
    margin-left: -16px;
    margin-right: -16px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E9E9E9;

    &.qubely-has-label {
        border-top: 1px solid #E9E9E9;
        .qubely-field-tab-header {
            padding-top: 10px;
            label {
                margin: 0 15px;
            }
        }
        .qubely-field-tab-menus {
            margin-top: 10px;
        }
    }
    .qubely-field-tab-menus {
        display: flex;
        button{
            flex-grow: 1;
            justify-content: center;
            padding: 7px 15px;
            box-shadow: none;
            border: none;
            transition: 400ms;
            border: 1px solid #E9E9E9;
            cursor: pointer;
            &:not(:last-child){
                border-right: none;
            }
            &.active{
                background: #2184F9;
                color: #fff;
            }
        }
    }

    .qubely-field-tab-items {
        padding: 15px 15px 0;
    }
}
