.qubely-field-radioimage{
    label{
        margin-bottom: 7px;
        display: block;
    }
    .qubely-radioimage-parent{
        overflow: hidden;
        display: flex;
        border-radius: 4px;
        >.components-button {
            text-align: center;
            flex-grow: 1;
            justify-content: center;
            border: 2px solid #E7E8EB;
            padding: 5px 0;
            position: relative;
            border-radius: 0;
            box-shadow: none;
            -webkit-box-shadow: none;
            cursor: pointer;

            &:focus,
            &:active {
                border-color: transparent;
                box-shadow: none;
                -webkit-box-shadow: none;
                &.enabled {
                    border-color: transparent;
                    box-shadow: none;
                    -webkit-box-shadow: none;
                }
            }

            &.is-button {
                height: 48px;
            }

            svg {
                display: inline-block;
            }

            &.is-default {
                svg {
                    .qubely-svg-fill {
                        fill: #000;
                    }
                    .qubely-svg-fill-inverse {
                        fill: #fff;
                    }
                    .qubely-svg-stroke {
                        stroke: #000;
                    }
                }
            }
            &.is-primary {
                border-color: #0085ba;
                svg {
                    filter: invert(1);
                }
            }

            &:first-child {
                border-radius: 3px 0 0 3px;
            }
            &:last-child {
                border-radius: 0px 3px 3px 0px;
            }
        }
        img{
            display: inline-block;
        }
    }
}