.qubely-field-separator {
    width: 100%;
    height: 1px;
    background: #E5E7EA;
    &:not(:first-child-child){
        margin-top: 20px;
    }

    &.qubely-has-label {
        position: relative;
        label {
            position: absolute;
            top: -8px;
            display: inline-block;
            width: auto;
            background: #fff;
            padding-right: 10px;
            margin: 0;
        }
    }
}
.qubely-field-separator.qubely-separtor-extra-margin{
    margin: 20px 0px 30px 0px;
}
