.qubely-field-styles {
    .qubely-field-style-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        >div {
            text-align: center;
            margin: 4px 0;
            flex-shrink: 0;
            cursor: pointer;
            overflow: hidden;
            padding: 0;
            margin-bottom: 10px;
            .qubely-layout-style {
                display: block;
                border: 1px solid #DFE1E3;
                border-radius: 4px;
                transition: border-color 400ms;
                img {
                    display: block;
                    width: 100%;
                    border-radius: 4px;
                }
            }

            .qubely-field-style-icon,
            .qubely-field-style-svg,
            .qubely-field-style-label {
                display: block;
                text-align: center;
            }

            .qubely-field-style-label {
                margin-top: 5px;
                transition: color 400ms;
            }

            &:hover {
                .qubely-layout-style {
                    border-color: #666;
                }
            }
            
            &.qubely-active {
                .qubely-layout-style {
                    border-color: #2184F9;
                }
                .qubely-field-style-label {
                    color: #2184F9;
                }
            }
            &.qubely-pro-layout{
                cursor:no-drop;
            }
        }

        &.qubely-field-style-columns-2 {
            >div {
                width: calc(50% - 4px);
            }
        }

        &.qubely-field-style-columns-21 {
            >div {
                width: calc(50% - 4px);
                &:last-child {
                    width: calc(100% - 4px);
                }
            }
        }

        &.qubely-field-style-columns-3 {
            >div {
                width: calc(33.33% - 4px);
            }
        }

        &.qubely-field-style-columns-4 {
            >div {
                width: calc(25% - 4px);
            }
        }
    }
}
.qubely-field-pro-upgrade{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    .qubely-upgrade-message{
        display: flex;
        padding: 10px 0px 20px 0px;
        flex-direction: column;
        align-items: center;
        .qubely-upgrade-message-title{
            color: #000;
            font-weight: 400;
            font-size: 26px;
            padding: 20px 0px;
        }
        .qubely-upgrade-message-description{
            width: 85%;
            font-size: 15px;
            font-weight: 100;
            line-height: 1.5;
            text-align: center;
        }
    }
    .qubely-upgrade-button{
        color: #fff;
        cursor: pointer;
        border: 1px #979797;
        border-radius: 21px;
        padding: 7px 19px;
        background-color: #2184F9;
        text-decoration: none;
        box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
        font-size: 12px;
        font-weight: 600;
        transition: 400ms;
        &:hover {
            background-color: #146dd6;
            box-shadow: 0 15px 20px -8px rgba(0, 0, 0, 0.4);
        }
    }
}