.qubely-design-templates{
  column-count: 2;
  .qubely-design-template{
    display: inline-block;
    position: relative;
    margin-bottom: 8px;
    cursor: pointer;
    //border: 1.5px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
    transition: 300ms;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    &.active,
    &:hover{
      box-shadow: 0 0 0 2px #2184F9;
    }
    img{
      display: block;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}