.qubely-field-url{
    .qubely-url-input-group{
        display: flex;
        input{
            flex-grow: 1;
            margin: 0 6px 0 0;
        }
        button{
            height: 30px;
            line-height: 28px;
        }
    }
    .qubely-url-advance-options{
        margin-top: 15px;
    }
}