.editor-styles-wrapper .qubely-block-text {
    h1, h2, h3, h4, h5, h6 {
        padding: 0;
        margin: 0;
        line-height: 1;
        position: relative;
        &::before,
        &::after {
            display: none !important;
        }
        .qubely-text-has-bgcolor {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    &.qubely-has-drop-cap {
        &:after {
            content: " ";
            display: table;
            clear: both;
        }
        p::first-letter {
            float: left;
            line-height: .68;
            font-weight: 700;
            margin: .05em .1em 0 0;
            text-transform: uppercase;
            font-style: normal;
        }
    }
    p {
        padding: 0;
        margin: 0;
        transition: color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
    }
    .qubely-block-text-title {
        margin: 0;
        transition: color 400ms, border-color 400ms, background-color 400ms, box-shadow 400ms;
    }
    .qubely-separator {
        font-size: 0;
        .qubely-separator-type-css,
        .qubely-separator-type-svg {
            display: inline-block;
        }
    }
    .qubely-separator-position-left,
    .qubely-separator-position-right,
    .qubely-separator-position-leftright {
        .qubely-block-text-title-inner {
            display: inline-flex;
            align-items: center;

            .qubely-block-text-title,
            .qubely-separator {
                display: inline-flex;
            }
        }
    }
}
.wp-block-qubely-text .qubely-block-text .qubely-block-text-title-container{
    color: inherit;
}