.qubely-block-icon-list {
    .qubely-list {
        list-style: none;
        padding: 0;
		margin: 0;
		[contenteditable=true]:empty:before {
			content: attr(placeholder);
			color: gray;
			padding: 0px 5px 0px 5px;
			display: block;
		}
        .qubely-list-li {
            position: relative;
            margin: 0;
            display: block;
            transition: color 400ms, background-color 400ms, border-color 400ms, box-shadow 400ms;
			.qubely-list-item-icon {
				transition: color 400ms;
			}
			.qubely-list-item {
				display: inline-block;
				position: relative;
				>span,
				>div {
					display: inline-block;
				}

				.qubely-action-remove {
					display: none;
					font-size: 12px;
					width: 18px;
					height: 18px;
					line-height: 20px;
					text-align: center;
					background: rgba(0, 0, 0, .8);
					color: #fff;
					border-radius: 10px;
					position: absolute;
					right: -30px;
					top: 50%;
					transform: translateY(-50%);
					cursor: pointer;
				}
			}

			&.qubely-list-li-editor {
				.qubely-list-item-icon {
					cursor: cell;
				}
			}

			&:hover {
				.qubely-action-remove {
					display: block;
				}
			}

			&.qubely-list-li-editor {
				.qubely-list-item-icon {
					cursor: cell;
				}
			}
		}
    }
    .qubely-action-button {
        padding: 5px 15px;
        margin-top: 15px;
        border-radius: 4px;
        font-size: 14px;
        background: #f0f1f3;
    }
}
.qubely-iconlist-icons-popover {
	.components-popover__content:not(.is-mobile){
		padding: 20px;
		min-height: fit-content;
		border: 1px solid #e5e5e5;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	}
}