.qubely-block-content-timeline {
  position: relative;
  .qubely-content-timeline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.qubely-timeline-right{
      flex-direction: row;
    }
    &.qubely-timeline-left{
      flex-direction: row-reverse;
    }

    .qubely-content{
      padding: 20px;
      word-break: break-word;
      background-color: gainsboro;
    }
  }
  .qubely-timeline__line {
    position: absolute;
    top: 20%;
    left: 50%;
    right: auto;
    width: 3px;
    background-color: #eee;
    .qubely-timeline__line__inner {
      height: 300px;
      background-color: #0081ff;
    }
  }
}
