.qubely-block-form {
	.qubely-form {
		.qubely-form-group {
            border: 1px solid #fff;
			.qubely-form-group-option {
				display: none;
				position: absolute;
				right: 0;
				top: 0;
				font-size: 14px;
				span {
					margin-right: 5px;
					&.qubely-option-disable {
						cursor: not-allowed;
						pointer-events: none;
						opacity: 0.5;
					}
				}
			}
			&:hover {
				cursor: pointer;
				border: 1px dashed #ddd;
				.qubely-form-group-option {
					display: block;
				}
			}
		}
		.qubely-form-group-active {
			background-color: #f6f9fc;
			border: 1px solid #eee;
			.qubely-form-group-option {
				display: block;
			}
		}
	}
}