.qubely-block-timeline {
	position: relative;
	
	// Bar
	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		border-radius: 50px;
	}

	&.qubely-timeline-orientation-left {
		&:after {
			left: 0;
		}
	}

	&.qubely-timeline-orientation-right {
		&:after {
			right: 0;
		}
	}
	.qubely-timeline-date-container {
		position: relative;
    }
    &.qubely-timeline-orientation-center {
        .qubely-timeline-date-container {
            position: absolute;
        }
    }

	// Image
	.qubely-timeline-image-container {
		&.qubely-empty-image {
			display: flex;
			align-items: center;
			justify-content: center;
			background: #f5f5f5;
			border: 2px dashed #e5e5e5;
			padding: 30px;
			border-radius: 5px;
			min-height: 200px;
		}
		.qubely-timeline-content-image-editor {
			position: relative;
			display: inline-block;
			img {
				display: inline-block;
			}
			.qubely-media-actions {
				top: 10px;
				right: 10px;
				position: absolute;
				z-index: 2;
			}
		}

		.qubely-insert-image {
			text-align: center;
			display: inline-block;
			color: #2184F9;
			text-decoration: none;
			line-height: 1;
			span {
				margin-top: 5px;
				display: block;
			}
		}
	}

	.qubely-timeline-connector {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
	}

	.qubely-timeline-item {
		position: relative;
	}

	// Content
	.qubely-timeline-content {
		position: relative;
		
		.qubely-action-timeline-remove {
			display: none;
			font-size: 12px;
			width: 18px;
			height: 18px;
			line-height: 20px;
			text-align: center;
			background: rgba(0, 0, 0, .8);
			color: #fff;
			position: absolute;
			top: -9px;
			right: -9px;
			border-radius: 10px;
			z-index: 1;
			cursor: pointer;
		}

		&:before {
			content: " ";
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			top: 50%;
			transform: translateY(-50%);
			border-width: 15px;
			z-index: 1;
		}

		&.qubely-content-has-border {
			&:after {
				content: " ";
				position: absolute;
				width: 0;
				height: 0;
				top: 50%;
				transform: translateY(-50%);
				border-style: solid;
				z-index: 0;
			}
		}
		
		&:hover {
			.qubely-action-timeline-remove {
				display: block;
			}
		}
	}

	// Desktop
	@media (min-width: 768px) {
		// Center
		&.qubely-timeline-orientation-center {
			
			// Bar
			&::after {
				left: 50%;
				transform: translateX(-50%);
			}

			.qubely-timeline-item {
				width: 50%;
			}

			.qubely-timeline-date-container {
				display: block;
				top: 50%;
				transform: translateY(-50%);
				text-align: left;
				white-space: nowrap;
				width: 100%;
			}

			.qubely-timeline-left {
				left: 0;
				.qubely-timeline-content {
					&:before {
						right: -30px;
					}
				}
				.qubely-timeline-date-container {
					left: 100%;
					text-align: left;
				}
			}
		
			.qubely-timeline-right {
				left: 50%;
				.qubely-timeline-content {
					&:before {
						left: -30px;
					}
				}
				.qubely-timeline-date-container {
					right: 100%;
					text-align: right;
				}
			}
		}

		&.qubely-timeline-orientation-left {
			.qubely-timeline-content {
				&:before {
					left: -30px;
				}
			}

			.qubely-timeline-date-container {
				margin-top: 5px;
				margin-bottom: 5px;
				left: 0;
			}
		}

		&.qubely-timeline-orientation-right {
			.qubely-timeline-content {
				&:before {
					right: -30px;
				}
			}

			.qubely-timeline-date-container {
				margin-top: 10px;
				right: 0;
			}
		}
	}



	// Phone
	@media (max-width: 767px) {
		&.qubely-timeline-orientation-center {

			.qubely-timeline-content {
				&:before {
					left: -30px;
				}
			}

			.qubely-timeline-date-container {
				margin-top: 10px;
            }
            .qubely-timeline-date-container {
                position: relative;
            }
        }

		&.qubely-timeline-orientation-center,
		&.qubely-timeline-orientation-left {
			margin-left: 20px;
        }
        &.qubely-timeline-orientation-left {
            .qubely-timeline-date-container {
				position: absolute;
			}  
        }
		&.qubely-timeline-orientation-right {
			margin-right: 20px;
		}
	}
}