.qubely-block-progress-bar {
    .qubely-block-progress-labels {
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
    }

    .qubely-progress {
        .qubely-progress-bar {
            position: relative;
            transition: 300ms;
            height: 100%;
            overflow: hidden;
            .qubely-progress-striped {
                height: 100%;
                width: 100%;
                background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
                background-size: 40px 40px;
                transition: 300ms;
            }
        }
        
        .qubely-block-progress-labels {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0 10px;
        }
    }
}
