.qubely-block-contact-form {
	.qubely-form {
		display: flex;
		flex-wrap: wrap;
		.qubely-form-group {
			position: relative;
			.qubely-form-label {
				margin: 0;
				line-height: 1;
			}
			.qubely-form-control {
				display: block;
				width: 100%;
				background-clip: padding-box;
				transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

				&.is-small {
					padding: 6px 8px;
				}
				&.is-medium {
					padding: 8.5px 12px;
					
				}
				&.is-large {
					padding: 14.5px 16px;
				}
			}
			textarea.qubely-form-control {
				resize: none;
			}
			.qubely-form-control:focus {
				outline: 0;
			}
			p.qubely-form-required-field {
				font-size: 14px;
				color: red;
				margin: 0;
			}
			.qubely-block-btn-anchor:hover{
				background-color: transparent;
			}
		}
	}

	&.qubely-layout-material {
		.qubely-form {
			.qubely-form-group {
				.qubely-form-group-inner {
					position: relative;
				}
				.qubely-form-label {
					position:absolute;
					pointer-events:none;
					top: 0px;
					transition: 0.2s ease all;
				}
				.qubely-form-control {
					border-radius: 0;
					box-shadow: none;
					padding-left: 0;
                    padding-right: 0;
                    background: none;
					&:focus,
					&:valid {
						outline:none;
						color: #333;
					}

					&::placeholder {
						opacity: 0;
						transition: 400ms;
					}
					&:focus {
						&::placeholder {
							opacity: 1;
						}
					}
				}

				.qubely-form-control:focus ~ .qubely-form-label,
				.qubely-form-control:valid ~ .qubely-form-label {
					top: -20px;
				}
			}
		}
	}
}
