.qubely-block-pricing {
	transition: 400ms;
	position: relative;
	.qubely-list {
		list-style: none;
		padding: 0;
		margin: 0;
		[contenteditable="true"]:empty:before {
			content: attr(placeholder);
			color: gray;
			padding: 0px 5px 0px 5px;
			display: block;
		}
		.qubely-list-li {
			position: relative;
			margin: 0;
			display: block;
			transition: color 400ms, background-color 400ms, border-color 400ms, box-shadow 400ms;
			.qubely-list-item-icon {
				transition: color 400ms;
			}
			.qubely-list-item {
				display: inline-block;
				position: relative;
				> span,
				> div {
					display: inline-block;
				}

				.qubely-action-remove {
					display: none;
					font-size: 12px;
					width: 18px;
					height: 18px;
					line-height: 20px;
					text-align: center;
					background: rgba(0, 0, 0, 0.8);
					color: #fff;
					border-radius: 10px;
					position: absolute;
					right: -30px;
					top: 50%;
					transform: translateY(-50%);
					cursor: pointer;
				}
			}

			&.qubely-list-li-editor {
			}

			&:hover {
				.qubely-action-remove {
					display: block;
				}
			}
		}
	}

	.qubely-pricing-badge {
		background-color: #333;
		&.qubely-badge-style-1 {
			text-align: center;
			position: absolute;
			display: block;
			line-height: 1;
			&.qubely-badge-size-small {
				top: -15px;
				height: 60px;
				padding-top: 35px;
				width: 180px;
			}
			&.qubely-badge-size-regular {
				top: -17px;
				height: 70px;
				padding-top: 40px;
				width: 180px;
			}
			&.qubely-badge-size-large {
				top: -17px;
				height: 80px;
				padding-top: 46px;
				width: 200px;
			}
		}

		&.qubely-badge-style-2 {
			text-align: center;
			position: absolute;
			display: block;
			&.qubely-badge-size-small {
				top: 13px;
				height: 27px;
				line-height: 27px;
				width: 160px;
			}
			&.qubely-badge-size-regular {
				top: 18px;
				height: 34px;
				line-height: 34px;
				width: 170px;
			}
			&.qubely-badge-size-large {
				top: 22px;
				height: 42px;
				line-height: 42px;
				width: 180px;
			}
		}

		&.qubely-badge-style-3 {
			text-align: center;
			display: block;
			position: relative;

			> span:before,
			> span:after,
			&:before,
			&:after {
				content: " ";
				position: absolute;
				border-style: solid;
			}

			&.qubely-badge-size-small {
				height: 27px;
				line-height: 27px;
				margin-left: -10px;
				margin-right: -10px;
				> span:before,
				> span:after,
				&:before,
				&:after {
					bottom: -10px;
					border-width: 5px;
				}
			}

			&.qubely-badge-size-regular {
				height: 37px;
				line-height: 37px;
				margin-left: -15px;
				margin-right: -15px;
				> span:before,
				> span:after,
				&:before,
				&:after {
					bottom: -15px;
					border-width: 7.5px;
				}
			}

			&.qubely-badge-size-large {
				height: 46px;
				line-height: 46px;
				margin-left: -20px;
				margin-right: -20px;
				> span:before,
				> span:after,
				&:before,
				&:after {
					bottom: -20px;
					border-width: 10px;
				}
			}

			> span:before,
			&:before {
				left: 0;
			}

			> span:after,
			&:after {
				right: 0;
			}

			> span:before,
			> span:after {
				z-index: 1;
			}

			> span:before {
				border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) transparent transparent;
			}

			> span:after {
				border-color: rgba(0, 0, 0, 0.15) transparent transparent rgba(0, 0, 0, 0.15);
			}
		}

		&.qubely-badge-style-4 {
			text-align: center;
			display: block;
			height: 40px;
			line-height: 40px;

			&.qubely-badge-size-small {
				height: 27px;
				line-height: 27px;
			}

			&.qubely-badge-size-regular {
				height: 37px;
				line-height: 37px;
			}

			&.qubely-badge-size-large {
				height: 46px;
				line-height: 46px;
			}
		}

		&.qubely-badge-style-5 {
			text-align: center;
			display: inline-block;
			padding: 0 20px;
			position: absolute;
			&.qubely-badge-size-small {
				height: 27px;
				line-height: 27px;
			}

			&.qubely-badge-size-regular {
				height: 37px;
				line-height: 37px;
			}

			&.qubely-badge-size-large {
				height: 46px;
				line-height: 46px;
			}
		}

		&.qubely-badge-style-6 {
			text-align: center;
			position: absolute;
			top: 0;
			display: block;
			line-height: 1;

			> span {
				display: inline-block;
				transform: rotate(90deg);
			}

			&::before {
				content: " ";
				position: absolute;
				left: 0;
				border-style: solid;
			}

			&.qubely-badge-size-small {
				width: 27px;
				padding: 15px 0;
				&::before {
					bottom: -15px;
					border-width: 13.5px;
				}
			}

			&.qubely-badge-size-regular {
				width: 37px;
				padding: 18px 0;
				&::before {
					bottom: -18px;
					border-width: 18.5px;
				}
			}

			&.qubely-badge-size-large {
				width: 46px;
				padding: 23px 0;
				&::before {
					bottom: -23px;
					border-width: 23px;
				}
			}
		}
	}
}
