.qubely-block-button-group{
    display: flex;
    flex-wrap: wrap;
    .block-editor-inner-blocks{
        width: auto !important;
        .block-editor-block-list__layout{
            display: block;
            width: fit-content;
            .qubely-group-button{
                display: inline-block;
                width: auto;
            }
        }
    }
    .qubely-add-new{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        z-index: 100;
    }
}