.qubely-block-button-group {
	display: flex;
	flex-wrap: wrap;
	.block-editor-inner-blocks {
		width: auto !important;
		.block-editor-block-list__layout {
			display: block;
			width: fit-content;
			> div {
				display: inline-block;
				width: auto;
				.qubely-block-btn {
					margin: 4px;
				}
				&:last-child {
					margin: 10px;
				}
			}
			.block-list-appender {
				display: inline-block !important;
			}
		}
	}
	.qubely-add-new {
		display: flex;
		align-items: center;
		justify-content: center;
		width: fit-content;
		z-index: 100;
	}
}
